@define-color cc-bg rgba ( {{base00-rgb-r}}, {{base00-rgb-g}}, {{base00-rgb-b}}, 1.0 );

@define-color noti-border-color rgba ( {{base0A-rgb-r}}, {{base0A-rgb-g}}, {{base0A-rgb-b}}, 0.7);


@define-color noti-bg rgba ( {{base01-rgb-r}}, {{base01-rgb-g}}, {{base01-rgb-b}}, 0.9 );
@define-color noti-bg-opaque rgb({{base01-rgb-r}}, {{base01-rgb-g}}, {{base01-rgb-b}});
@define-color noti-bg-darker rgb({{base00-rgb-r}}, {{base00-rgb-g}}, {{base00-rgb-b}});
@define-color noti-bg-hover rgb({{base0A-rgb-r}}, {{base0A-rgb-g}}, {{base0A-rgb-b}});
@define-color noti-bg-hover-opaque rgb({{base0A-rgb-r}}, {{base0A-rgb-g}}, {{base0A-rgb-b}});
@define-color noti-bg-focus rgba ( {{base05-rgb-r}}, {{base05-rgb-g}}, {{base05-rgb-b}}, 1.0);
@define-color noti-close-bg rgba(255, 255, 255, 0.1);
@define-color noti-close-bg-hover rgba(255, 255, 255, 0.15);
@define-color text-color rgb(255, 255, 255);
@define-color text-color-disabled rgb(150, 150, 150);
@define-color bg-selected rgb({{base08-rgb-r}}, {{base08-rgb-g}}, {{base08-rgb-b}});

